<!-- Main Content -->
<div class="container-fluid ms-5" style="margin-left: 260px; padding-top: 20px;">
    <h2 class="text-uppercase mb-4">Registro de Equipos</h2>
    <form action="/registro-equipo" method="POST">
        <div class="col-md-6">
            <h4 class="mb-3">Registrar Nuevo Equipo</h4>
            <div class="mb-3">
                <label for="numDivision" class="form-label">Número de División</label>
                <input type="number" class="form-control" id="numDivision" name="numDivision" placeholder="Ingrese la division" required>
            </div>
            <div class="mb-3">
                <label for="numCategoria" class="form-label">Número de Categoría</label>
                <input type="number" class="form-control" id="numCategoria" name="numCategoria" placeholder="Ingrese la categoría" required>
            </div>
            <div class="mb-3">
                <label for="nombreEquipo" class="form-label">Nombre del Equipo</label>
                <input type="text" class="form-control" id="nombreEquipo" name="nombreEquipo" placeholder="Ingrese el nombre del equipo" required>
            </div>
            <div class="mb-3">
                <label for="nombreDT" class="form-label">Nombre del Director Técnico</label>
                <input type="text" class="form-control" id="nombreDT" name="nombreDT" placeholder="Ingrese el nombre del dt" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar Equipo</button>
        </div>
    </form>

</div>