<!-- Main Content -->
<div class="container-fluid ms-5" style="margin-left: 260px; padding-top: 20px;">
    <h2 class="text-uppercase mb-4">Registro de Jugadores</h2>
    <div class="row">
        <!-- Formulario para registro de jugador -->
        <div class="col-md-6">
            <h4 class="mb-3">Registrar Nuevo Jugador</h4>
            <form action="/registro-jugador" method="POST">
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese su DNI" required>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre"
                        required>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"
                        placeholder="Ingrese el apellido" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion"
                        placeholder="Ingrese la dirección" required>
                </div>
                <div class="mb-3">
                    <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono"
                        placeholder="Ingrese su telefono" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrar Jugador</button>
            </form>
            <div class="col-md-3 d-flex align-items-center">
                {{#if success}}
                <div class="alert alert-success mt-3" role="alert">
                    {{success}}
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger mt-3" role="alert">
                    {{error}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>