<div class="d-flex flex-column bg-dark text-white position-fixed top-0 start-0 h-100 p-3">
    <h5 class="text-uppercase">Menú</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-home me-2"></i>Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-users me-2"></i>Clientes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-calendar me-2"></i>Agenda
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-chart-bar me-2"></i>Informes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-cogs me-2"></i>Configuración
            </a>
        </li>
    </ul>
</div>
