<div class="d-flex flex-column text-white position-fixed custom-sidebar">
    <h5 class="text-uppercase">Menú</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-home me-2"></i>Torneos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-users me-2"></i>Jugadores
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/inscripcion-equipos">
                <i class="fas fa-calendar me-2"></i>Equipos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-chart-bar me-2"></i>Informes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-cogs me-2"></i>Configuración
            </a>
        </li>
    </ul>
</div>
