<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {{title}} </title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="d-flex">
        {{> sidebar}} <!-- Barra lateral del admin -->

        <div class="col-6 offset-3" style="padding-left: 0;"> <!-- 9 columnas ocupadas por el contenido -->
            {{{body}}} <!-- Aquí se carga el contenido del dashboard específico -->
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>

</html>